<plugin id="com.kpe.sp_idml">

    <feature extension="package.version" value="0.0.1"/>
    <feature extension="package.support.name" value="Simon Bate"/> 
    <feature extension="package.support.email" value="info@scriptorium.com"/>
    
    <feature extension="dita.conductor.transtype.check" value="idml" type="txt" /> 
    
    <feature extension="dita.conductor.target" value="conductor.xml" type="file"/>
</plugin>

