<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="com.kpe.sepub3">
  <!-- We're using the xhtml transform as a basis. -->
  <require plugin="com.kpe.xhtml"/>

  <feature extension="package.version" value="3.0.0"/>
  <feature extension="package.support.name" value="Simon Bate"/> 
  <feature extension="package.support.email" value="info@scriptorium.com"/>

  <feature extension="dita.conductor.transtype.check" value="sepub3"/>  
  
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>  
  <feature extension="dita.xsl.strings"  value="xsl/common/sepub3_strings.xml" type="file"/>  
  <feature extension="dita.conductor.xhtml.param" value="html_params.xml" type="file"/>
<!--  <feature extension="dita.conductor.xhtml.param" file="build_params.xml"/>-->
<!--  added this to split transform for RE and AD-->
  <!--<feature extension="dita.conductor.xhtml.param" value="build_params.xml" type="file"/>-->
  <feature extension="dita.xsl.xhtml" value="xsl/xslhtml/dita2htmlImpl_sepub3.xsl" type="file"/>
    
</plugin>
