<plugin id="com.kpe.pace_2">

    <feature extension="package.version" value="0.0.1"/>
    <feature extension="package.support.name" value="Simon Bate"/> 
    <feature extension="package.support.email" value="info@scriptorium.com"/>
    
    <feature extension="dita.conductor.transtype.check" value="pace_2" type="txt" /> 
    
    <feature extension="dita.conductor.target" value="conductor.xml" type="file"/>
    
    <!-- Modify topicpull to grab title for figures on xref. -->
<!--    <feature extension="dita.xsl.topicpull" file="xsl/pace_topicpullImpl.xsl"/>-->
</plugin>

