<?xml version="1.0" encoding="UTF-8"?>
<!--
 | (C) Copyright IBM Corporation 2005 - 2006. All Rights Reserved.
 *-->
<plugin id="com.kpe.xhtml">
  <!-- <extension-point id="dita.xsl.htmltoc" name="HTML/XHTML TOC XSLT import"/> -->
  
  <!-- NOTE NOTE NOTE
       This plugin mostly exists to provide overrides to the base OT HTML processing.
       
       There's a lot of stuff left over from creating TOC files, etc, but that processing shouldn't be needed for ePubs. 
    
    -->

  <feature extension="package.version" value="0.0.1"/>
  <feature extension="package.support.name" value="Simon Bate"/> 
  <feature extension="package.support.email" value="info@scriptorium.com"/>

  <feature extension="dita.conductor.transtype.check" value="kpe_xhtml"/> 
  
  <feature extension="dita.conductor.target" file="conductor.xml"/>

  <!-- Add output-specific localized strings. -->
  <feature extension="dita.xsl.strings"  value="xsl/common/kpe_strings.xml" type="file"/>

  <!-- Override behaviors in the map2htmltoc conversion. -->
  <feature extension="dita.xsl.htmltoc" value="xsl/xslhtml/map2htmtocImpl_kpe_xhtml.xsl" type="file"/>

  <!-- Override behaviors in the dita2xhtml conversion. -->
  <feature extension="dita.xsl.xhtml" value="xsl/xslhtml/dita2htmlImpl_kpe_xhtml.xsl" type="file"/> 

  <!-- Add parameters to XHTML transforms. -->
  <feature extension="dita.conductor.xhtml.param" value="html_params.xml" type="file"/>
  <feature extension="dita.conductor.xhtml.toc.param" value="html_toc_params.xml" type="file"/> 
  

  <!-- <template file="../../xsl/map2htmtoc_template.xsl"/> -->
  <!-- <template file="xsl/dita2html5_template.xsl"/> -->

</plugin>
