<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Open Toolkit project.
  See the accompanying license.txt file for applicable licenses.
-->
<plugin id="com.kpe.scorm1.2">
  <!-- We're using the xhtml transform as a basis. -->
  <require plugin="com.kpe.xhtml"/>
  <require plugin="com.kpe.sp_idml"/>

  <feature extension="package.version" value="1.0.0"/>
  <feature extension="package.support.name" value="Simon Bate"/> 
  <feature extension="package.support.email" value="info@scriptorium.com"/>

  <feature extension="dita.conductor.transtype.check" value="scorm1.2"/>  
  
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>  
<!--  <feature extension="dita.xsl.strings"  value="xsl/common/scorm1.2_strings.xml" type="file"/>  -->
  <feature extension="dita.conductor.xhtml.param" value="html_params.xml" type="file"/> 
  <feature extension="dita.conductor.xhtml.toc.param" value="html_toc_params.xml" type="file"/> 
  
</plugin>
